
:root{
    --header-height: 3rem;
    --font-semi:600;
    --font-bold:700;
}
:root{
    --first-color:#e55947;
    --first-color-alt:#d2321e;
    --dark-color:#101010;
    --dark-color-light:#606060;
    --gray-color:#f0f1f3;
}
:root{
    --body-font: 'Big Shoulders Stencil Text', cursive;
    --big-font-size:3rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --normal-font-size:.938rem;
    --small-font-size:.75rem;

}
/* .nav_toggle{
    display: none;
} */
@media screen and (min-width:768px){
    :root{
        /* --body-font: 'Big Shoulders Stencil Text', cursive; */
        --big-font-size:6rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --normal-font-size:1rem;
        --small-font-size:.813rem;
    
    }
}
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}
:root{
    --z-tooltip:10;
    --z-fixed:100;
}
*,::before,::after{
    box-sizing: border-box;

}
html{
    /* scroll-behavior: smooth; */
    /* overflow: hidden; */

}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    line-height: 1.6;
}
h1,h2,h3{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    max-width: 100%;
    height: auto;

}
.section{
    padding: 3rem 0;
}
.section-title{
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0 var(--mb-1);
    text-align: center;
}

.section-all{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    color: var(--dark-color-light);
    text-align: center;
    margin-bottom: var(--mb-2);
}
.bg-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.header-one{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        /* background-color: var(--white-color);  */
        background-color: white;
        transition: .5s;
    }
}

.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    color: var(--dark-color);
    font-weight: var(--font-semi);
}
.nav_link:hover{
    color: var(--first-color); 
}
.nav_logo{
    font-weight: var(--font-bold);
}
.nav_cart{
    font: 1.5rem;
    margin-right: var(--mb-2);
}
.nav_toggle{
    font-size: 1.5rem;
    cursor: pointer;
}
.show{
    right: 0;
}
.active{
    color: var(--first-color);
}
.home{
    background-color: var(--gray-color);
}
.home_container{
    height: calc(100vh - var(--header-height));
}
.home_data{
    padding-top: 6rem;
}
.home_title{
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
    /* position: absolute; */
    top: -1%; 
}
.home_title span{
    font-size: var(--h1-font-size);
    position: absolute;
    top: 15%;

}
.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--font-semi);
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-alt);

}
.collection_container{
    row-gap: 2rem;

}
.collection_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 1.5rem;
    background-color: var(--gray-color);
    transition: .3s;
}
.collection_box:hover{
    transform: translateY(-.5rem);
}
.collection_img{
    width: 100px;
}
.collection_title{
    font-size: var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
}
.collection_subtitle{
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
}
.collection_view{
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}
.collection_view:hover{
    text-decoration: underline;
}
.featured_container{
    row-gap: 2rem;
}
.featured_product{
    transition: .3s;
}
.featured_product:hover{
    transform: translateY(-.5rem);
}
.featured_box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--gray-color);
}
.featured_new{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .3rem .75rem;
    font-size: var(--small-font-size);
}
.featured_data{
    text-align: center;
}
.featured_name{
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);

}
.featured_preci{
    color: var(--dark-color-light);
    font-weight: var(--font-semi);

}
.offer_bg{
    background: url(./assets/img/offer.jpg) no-repeat center/cover;
    text-align: center;

}
.offer_data{
    padding: 3.5rem .25rem;
      background: rgba(0, 0, 0, .5);
      /* color: var(--white-color); */
      color: white;
}
.offer_title{
    font-size: var(--h1-font-size);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: var(--font-semi);
}
.offer_description{
    margin-bottom: var(--mb-2);
    letter-spacing: .2rem;
}
.new_container{
    row-gap: 2em;

}
.new_box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--gray-color);
    overflow: hidden;

}
.new_box:hover .new_link:hover{
  bottom: 0;
  /* background-color: var(--gray-color); */
}
.new_link{
    position: absolute;
    border: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 89, 71, .2);
    transition: .3s;
}
.newsletter{
    text-align: center;
}
.newsletter_description{
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}
.newslettter_form{
    display: grid;
    grid-template-columns: 1fr .5fr;
}
.newsletter_input{
    outline: none;
    border: none;
    background-color: var(--gray-color);
    padding: 0 1rem;
}
.sponsors_container {
    grid-template-columns: repeat(2fr,1fr);
    row-gap: 2rem;
    padding: 1.5rem 0;
    display: flex;
    margin: 10%; 
}
.sponsors_logo{
   
    justify-content: center;

}
.sponsors_logo img{
    /* width: 100px; */
    filter: opacity(70%);
}
.sponsors_logo img:hover{
    filter: none;
}
.footer{
    background-color: var(--dark-color);
    /* color: var(--white-color); */
    color: white;
    margin: 10px;
}
.footer_container{
    row-gap: 1.5rem;
    margin-bottom: var(--mb-4);
}
.footer_title{
    margin-bottom: var(--mb-1);
}
.footer_deal{
    margin-bottom: var(--mb-2);
}
.footer_store{
    width: 100px;
}
.footer_link,.footer_social{
    color: var(--dark-color-light);
}
.footer_link:hover{
    text-decoration: underline;
}
.footer_social{
    font-size: 1.5rem;
    margin-right: var(--mb-2);
}
.footer_copy{
    border-top: 1px solid var(--dark-color-light);
    padding-top: 3rem;
    text-align: center;
    color: var(--dark-color-light);
    font-size: var(--small-font-size);
}
@media screen and (min-width:768px){
    body{
        margin: 0;
    }
    .section-all{
        margin-bottom: var(--mb-4);

    }
    nav{
        height: calc( var(--header-height) + 1rem);
        justify-content: initial;
    }
    .nav_menu{
        margin-left: auto;
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle{
          display: none;
    }
    .home_container{
        height: 100vh;
    }
    .home_data{
        padding: 0;
        height: max-content;
        align-self: center;
    }
    .home_title{
        line-height: .8;
        letter-spacing: 1.5rem;
    }
    .home_img{
        width: 270px;
    }
    .collection_container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .collection_box{
        padding: .5rem 3rem 0;
    }
    .collection_img{
        width: 130px;
    }
    /* .collection_data{
        display: flex;
        justify-content: center;
    } */
    .featured_container{
        /* grid-template-columns: repeat(4,1fr); */
        display: flex;
        margin: 12%;
    }
    .offer_data{
        padding: 5rem 0;
    }
    .new_container{
        grid-template-columns: repeat(3,1fr);
    }
    .newslettter_form{
        width: 400px;
        margin: 0 auto;
    }
   .footer_container{
       display: flex;
       justify-content: space-between;
       padding: 2rem 0;
   }
   @media screen and (min-width:1024px){
       .bg-grid{
           margin-left: auto;
           margin-right: auto;
       }
       .home_data{
           padding-left: 7rem;
       }
       .home_img{
           right: 15%;
       }
   }
   
}